body {
    overflow-x: hidden;
  }
  
main{
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
}

.box{
    position: relative;
    display: flex;
    align-items: center;
    margin-block: 8rem;
    gap: 2rem;
}

.box img{
    border-radius: 12px;
}

 h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;
    display: inline-block;
    padding: 0 16px; 
  }
  
 h2::before,
 h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100vw;
    height: 1px;
    background: var(--text-primary);
  
  }

 h2::before {
    right: 100%;
    margin-right: 16px;
  }
  
 h2::after {
    left: 100%;
    margin-left: 16px;
  }

  .gradient-text{
    max-width: 300px;
  }
  
  .fillter{
    display: flex;
    flex-wrap: wrap;
    align-items: start;
  }

  .fillter>div{
    max-width: 400px;
  }
  video{
    border-radius: 12px;
  }
footer{
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 8rem;
}

footer a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-primary);
}

footer a img{
    width: 24px;
    height: 24px;
}