:root {
    --bg: #1c1c1c;
    --sec-bg: #2b2b2b;
    --TransParent-bg: #1c1c1c66;
    --button-bg: rgba(255, 255, 255, 0.05);
    --Zoom-ui-color:#e1e9e533;
    --text-primary: #e8eef4;
    --text-contrast: #000000;
    --text-titel: #888;
    --text-muted: #666;
    --hover: rgba(255, 255, 255, 0.1);
    --white-color: #e1e9e5;
    --border: rgba(255, 255, 255, 0.1);
    --sec-border: rgba(255, 255, 255, 0.4);
    --accent: linear-gradient(35deg, #00d4ff 0%, #00ff88 100%);
    /* --text-muted: #6b7a8a; */
    --handel: #fff;
    --primary: #00d4ff;
    --secondary: #00ff88;
    --btn-transition: all 0.25s ease;
    --shadow: rgba(0, 0, 0, 0.4);
  }
  
  [data-theme="light"] {
    --bg: #ffffff;              
    --sec-bg: #f9fafb;
    --TransParent-bg: #fffffc66; 
    --Zoom-ui-color:#2b2b2b33;       
    --hover: #e5e7eb;
    --text-primary: #111827; 
    --text-muted: #6b7280;
    --border: rgba(0, 0, 0, 0.1); 
    --sec-border: rgba(0, 0, 0, 0.4);
    --handel: #000;
    --svg: invert(1) brightness(0);
    --shadow: rgba(255, 255, 255, 0.4);
  }
  
  [data-theme="dep-dark"] {
    --bg: #09090b;           
    --sec-bg: #18181b; 
    --TransParent-bg: #09090b66;        
    --hover: #2f2f35;          
    --text-primary: #e4e4e7;   
    --text-muted: #71717a;     
    --border: rgba(255, 255, 255, 0.08); 
  }
  
  [data-theme="midnight"] {
    --bg: #1e2127;          
    --sec-bg: #21252c;
    --TransParent-bg: #1e212766;         
    --hover: #334155;        
    --text-primary: #d9e7f5;   
    --text-muted: #94a3b8; 
    --text-titel: #bec8d6;    
    --border: rgba(148, 163, 184, 0.15); 
    --sec-border: rgba(148, 163, 184, 0.5);
  }

  /* @font-face {
    font-family: "SF Pro";
    src: url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot");
    src: url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/4b57277e89dfdd30c9a6b69acaf78d3a.svg#SF Pro")
        format("svg");
  }
  
  @font-face {
    font-family: "Filson Soft";
    src: url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.eot");
    src: url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.eot?#iefix")
        format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.woff2")
        format("woff2"),
      url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.woff")
        format("woff"),
      url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.ttf")
        format("truetype"),
      url("https://db.onlinewebfonts.com/t/bab15956435794e3d48309ddf0700b4c.svg#Filson Soft")
        format("svg");
  } */

  /* ========================================
   RESET & BASE STYLES
======================================== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
  }
  
  html,
  body {
    background: var(--bg);
    color: var(--text-primary);
    font-family: "SF Pro";
    font-size: 12px;
  }

  /* ========================================
     theme
  ======================================== */
  .theme-select {
    position: relative;
  }
  
  .theme-select select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 8px;
    color: var(--text-primary);
    font-size: 12px;
    text-align: center;
    padding: 6px 12px;
  }
  
  
  /* ========================================
     select
  ======================================== */
  select {
    
    background: none;
    border: 1px solid var(--border);
    color: inherit;
    padding: 3px 6px;
    border-radius: 8px;
    font-size: 10px;
  }
  
  option{
    color: var(--text-primary);
    background: var(--bg);
    border: 1px solid var(--border);
    border-radius: 8px !important;
  }
  
  /* ========================================
     input
  ======================================== */
  input {
    background: none;
    border: 1px solid var(--border);
    color: inherit;
    padding: 4px 5px;
    border-radius: 8px;
    font-size: 10px;
  }
  
  input[type="number"]:hover {
    border-color: var(--sec-border);
  }
  
  input[type="number"] {
    cursor: ew-resize;
    user-select: none;
    touch-action: none;
    transition: border-color var(--btn-transition), color var(--btn-transition),
      background-color var(--btn-transition);
  }
  
  input[type="number"]:focus {
    cursor: text;
  }
  
  input[type="number"]:active {
    border-color: var(--text-muted);
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* ========================================
     range input
  ======================================== */
  input[type="range"] {
    width: 120px;
    height: 6px;
    -webkit-appearance: none;
    background: var(--Zoom-ui-color);
    border: var(--sec-border);
    border-radius: 3px;
    cursor: pointer;
    padding: 0;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: var(--accent);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--btn-transition);
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    transform: scale(1.2);
  }
  
  /* ========================================
     label
  ======================================== */
  label{
    font-size: 10px;
      color: var(--text-muted);
      text-transform: uppercase;
      margin-left: 10px;
  }
  /* ========================================
     BUTTONS
  ======================================== */
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-bg);
    border: 1px solid var(--border);
    color: inherit;
    padding: 6px 12px;
    border-radius: 999px;
    cursor: pointer;
    animation: pulse 0.3s ease;
    transition: var(--btn-transition);
  }
  
  button:hover {
    background: var(--hover);
  }
  
  button img {
    width: 1.8rem;
    height: 1.8rem;
    filter: var(--svg);
  }
  
  button.run{
    animation: blur  600ms ease ;
  }
  
  @keyframes blur {
    50%   {  filter: blur(2px);}
  }
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background: var(--bg);
  color: var(--text);
  min-height: 100vh;
}
  /* ========================================
     Header
  ======================================== */
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 10vh;
  background: var(--TransParent-bg);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo{
  height: 80%;
  margin-inline: 1rem;
}

.header-name{
  background-image: var(--accent);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Inter";
  width: max-content;
  background-size: 200% 200%;
  animation: gradientMove 3s linear infinite;
  z-index: 2;
}

.link{
  color: var(--text-primary);
  font-size: 1.4rem;
}
.header-btn-editor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 20px;
  background: var(--accent);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  transition: transform 0.2s, box-shadow 0.2s;
  margin-inline: .8rem;
}

.header-btn-editor img{
  width: 2.5rem;
  height: 2.5rem;
}

.header-btn-editor:hover {
  transform: scale(1.1);
}